@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  direction: ltr;
}
.urdu {
  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
}
.english {
  font-family: "Noto Nastaliq English", serif;
  direction: rtl;
}
/* Perfect Infinite Marquee + Hover Pause (100% working) */
.animate-marquee-infinite {
  display: flex;
  animation: marquee 90s linear infinite;
}

/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
} */

/* Optional: agar chaaho to group-hover bhi use kar sakte ho */
.group:hover .animate-marquee-infinite {
  animation-play-state: paused;
}
/* .animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
} */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-wrapper {
  overflow-x: auto;
  transform: rotateX(180deg);
}

.scroll-inner {
  transform: rotateX(180deg);
}

.table {
  min-width: 1200px;
}

/*  scroll bar styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8cb15;
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8cb15b2;
}

/* index.css */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #ffb400;
  opacity: 1;
  transform: scale(1.4);
}
